body
{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    height: 100dvh;
    width: 100%;

    /* background-color: darksalmon; */

    background-color: rgba(247,247,247,1);

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    padding: 3rem;

    /* overflow: hidden; */

    overflow-y: auto;

}

.filepond--file
{
    position: relative;
    /* background-color: white; */

    color: #008080;
}

.filepond--file-info
{
    position: relative;
    z-index: 12;

    color: rgba(127,127,127,1);
}

.filepond--file-info-main
{
    /* display: flex; */
    align-items: center;
    gap: 8px;

    padding-left: 40px;

    /* background-color: orange; */

    color: #008080;

}

.filepond--file-info-sub
{
    /* margin-left: 40px; /* odsazení pod text (kvůli ikoně) */

    margin-left: 40px;
    font-size: 12px;
    opacity: 0.6;

    /* background-color: yellowgreen; */

    color: rgba(127,127,127,1);
}

.filepond--file,
.filepond--file-info,
.filepond--file-info-main
{
    overflow: visible;
}

.my-file-icon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    z-index: 1;
}


/* Pokusy 30.3.2026 */


.filepond--item-panel
{
    background-color: white !important;
}

.filepond--item[data-filepond-item-state*="invalid"] .filepond--item-panel
{
    background-color: #d9534f !important;
}

.filepond--item[data-filepond-item-state="processing-complete"] .filepond--item-panel
{
    background-color: rgba(54,151,99,1) !important; /* zelená */
}


/* .filepond--item[data-filepond-item-state="processing-complete"] .filepond--file
{
    color: white !important;
} */


.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-info-main,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-info-sub,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-status-main,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-status-sub,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file
{
    color: white !important;
}

.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-info-sub,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-status-sub {
    opacity: 1 !important;
}

.filepond--item[data-filepond-item-state*="invalid"] .filepond--file,
.filepond--item[data-filepond-item-state*="error"] .filepond--file,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-info-main,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-info-sub,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-status-main,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-status-sub,
.filepond--item[data-filepond-item-state*="error"] .filepond--file-status-main,
.filepond--item[data-filepond-item-state*="error"] .filepond--file-status-sub {
    color: white !important;
}


.filepond--file-action-button
{
    cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label
{
    color: #555;

    height: 50px !important; /* => rem */

    border-radius: 0.625em;

    cursor: pointer;
}

/* the background color of the filepond drop area */
.filepond--panel-root
{
    /* background-color: #eee; */

    background-color: #87CEEB;

    border-radius: 0.5em;

    cursor: pointer;
}


/* the background color of the black action buttons */
.filepond--file-action-button
{
    background-color: rgba(0, 0, 0, 0.5);
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus
{
    box-shadow: 0 0 0 0.125em rgba(25,113,181,1);
}


/* Dnešní experimenty 31.3.2026 */

#upload-icon
{
    width: 35px;
    height: 35px;
    /* opacity: 0.7; */
    margin-right: 8px;

    color: white;;

    /* background-color: yellow; */
}

#upload-text
{
    /* background-color: hotpink; */
    height: 100% !important;

    font-size: 28px;
    font-weight: bold;

    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upload-textC
{
    /* background-color: orange; */
    height: 100% !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-drop-label
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    height: 100%;

    cursor: pointer;

    /* display: none; */
}

#containerHeader
{
    width: 100%;
    height: 10%;

    background-color: #005A9C;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    font-weight: bold;

    box-sizing: border-box;

    padding: 0.625rem 1.25rem;

}

#containerWrapper
{

    width: 70%;
    height: auto;

    /* min-height: 70%; */
    /* min-height: 70vh;   /* nebo třeba 500px */
    /* max-height: 90%; */


    min-height: 700px; /* => rem */

    max-height: none;

    /* background-color: orange; */

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 0.625em;

    position: relative;

    box-shadow: 0px 0px 2px #87CEEB;
}


#filepondC
{
    width: 50%;
    /* height: auto; */

    min-height: 4.6875rem !important; /* => rem */

    /* background-color: yellowgreen !important; */
}

#filepondInstruction
{
    width: 50%;
    /* height: 25%;
    min-height: 25%; */

    height: 6.25rem !important;  /* => rem*/

    /* background-color: hotpink; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0.625rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#instruction1
{
    /* background-color: yellow; */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    color: #008080;

    font-size: 1rem;
    font-weight: 500;

    text-align: justify;

    line-height: 1.5rem;

}

#drop-label-text
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
}

#uploadError
{
    /* background-color: lawngreen; */

    background-color: rgba(123, 24, 24, 0.7);
    width: 50%;
    /* height: 5%;
    min-height: 5%; */

    min-height: 2.5rem !important;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;

    color: white;
    font-size: 1rem !important;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    padding-left: 1rem;

    border-radius: 5px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);

    display: none;

    box-sizing: border-box;
}

#buttonC
{
    width: 100%;
    /* height: 15%; */
    /* min-height: 15%; */

    min-height: 6.25rem;

    /* background-color: darkgreen; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 0.625em;
    border-bottom-right-radius: 0.625em;
}

#saveBtn
{
    width: 300px;
    height: 40px;

    background-color: #4682B4;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.btn
{
  border: none;

  color: white;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);

  transition: transform 120ms ease, box-shadow 120ms ease, filter 120ms ease;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
}

.btn:hover
{
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.45);
  filter: brightness(1.03);
}

.btn:active
{
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.35);
  filter: brightness(0.98);
}


/* Pokusy 2.4.2026 */


.filepond--root .filepond--drop-label
{
    min-height: 3.125rem !important; /* => rem */

    /* display: none; */
}

.filepond--credits
{
    display: none;
}


.filepond--hopper
{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
    border-radius: 0.625em;
    background-color: #87CEEB;
}


#completionC
{
   width: 600px;
   height: 400px;

   /*background-color: yellowgreen; */

   background-color: #F0F8FF;

   /* background-color: rgba(23,27,29,1); */

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   border-radius: 20px; /* => rem */

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   /* padding: 50px; */

   box-sizing: border-box;

   /* background:
        radial-gradient(
            circle at 90% 50%,
            rgba(0, 255, 150, 0.25),
            rgba(0, 255, 150, 0.1) 20%,
            transparent 60%
        ),
        linear-gradient(
            to right,
            #0b0f14,
            #0b0f14 60%,
            #0f2a1f 100%
        ); */

    display: none;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);

}

/* #folderIcon
{
    width: 50px;
    height: 50px;
} */

#completionText
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #008080;
}


#CCcolumn1
{
    width:  150px;
    height: 100%;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: transparent; */
}

#CCcolumn2
{
    flex: 1;
    height: 100%;

    /* background-color: blue; */

    /* background-color: transparent; */
}


#c2-row1
{
    /* background-color: yellow; */

    /* background-color: transparent; */

    /* font-family: sans-serif; */

    font-family: inter;

    font-size: 24px;
    font-weight: 600;

    box-sizing: border-box;

    color: rgba(152,174,203,1);

    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;

}

#c2-row2
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* background-color: orange; */

    /* background-color: transparent; */
    box-sizing: border-box;

    /* font-family: sans-serif; */

    font-family: inter;

    font-size: 16px;
    font-weight: 400;

    color: rgba(152,174,203,1);

    opacity: 0.8;

    width: 100%;
    height: 50%;
}

#c2-row3
{
    /* background-color: violet; */

    background-color: transparent;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex: 1;
}

#tickIcon
{
    color:rgba(61,245,116,1);
    width:  80px;
    height: 80px;
}

#acknoledgeBtn
{
    width: 273px;
    height: 40px;

    /* background-color: rgba(31, 51, 42,1); */

    background-color: #4682B4;

    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;

    border: none;
    outline: none;
    border-radius: 10px;

    color: rgba(237,238,240,1);

    font-weight: bold;
}

#firstRowWrapper
{
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Textové fonty */

@font-face
{
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face
{
  font-family: 'Roboto';
  src: url('/static/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('/static/fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400 700; /* nebo 100 900 podle fontu */
  font-style: normal;
}

@font-face
{
  font-family: 'Inter';
  src: url('/static/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/static/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

#crossIcon
{
   width: 100%;
   height: 100%;

   color: rgba(152,174,203,1);


}

#crossBtn
{
    width: 50px;
    height: 50px;

    background-color: transparent;

    position: absolute;
    right: 5px;
    top: 5px;

    padding: 0;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

/*  Dnešní experimenty 7.4.2026 */


#codacoMark
{
    font-family: "Inter";

    font-weight: 500; /* bold */
    color: rgb(24, 37, 55);
}

#top-bar
{

    background-color: rgba(255,255,255,1);

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
}


/* mobil */
@media  (max-width: 320px)
{
    body
    {
      display: none;
    }
}

/* mobil na výšku */
@media  (min-width: 321px) and (max-width: 359px)
{
    body
    {
        /* background-color: lightblue; */

        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center;

    }

    #containerWrapper
    {
        margin-top: 5%;
        width: 99%;
        border-radius: 5px !important;
    }

    #upload-text
    {
        font-size: 14px !important;
    }


    #instruction1
    {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    #filepondC
    {
        width: 100%;
    }

    #filepondInstruction
    {
        width: 95%;
    }

    #saveBtn
    {
        font-size: 0.9rem !important;
        width: 100% !important;
    }

    body
    {
        padding: 0;
    }

    #containerHeader
    {
        padding-left: 0.5rem;

        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }

    #drop-label-text
    {
        font-size: 0.9rem;
    }

    #upload-icon
    {
        width: 25px;
        height: 25px;
    }

    #completionC
    {
        width: 100%;
        height: 400px;

    }

    #tickIcon
    {
        width:  50px !important;
        height: 50px !important;
    }

    #CCcolumn1
    {
        width:  75px;
        height: 100%;
    }

    #c2-row1
    {

        font-size: 20px;
    }

    #crossBtn
    {
        width: 40px;
        height: 40px;
    }

    #uploadError
    {
        width: 100% !important;
        font-size: 0.9rem !important;
    }

    #top-bar
    {
        width: 100%;
        height: 3rem;
        min-height: 2rem;

        padding: 0 2%;

    }

    #codacoMark
    {
        font-size: 1.2rem;
    }

    #c2-row1
    {
        padding-left: 10px;
        padding-right: 10px;
    }

    #c2-row2
    {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

}

/* mobil na výšku */
@media  (min-width: 360px) and (max-width: 575px)
{
   body
   {
     /* background-color: yellowgreen; */

     display: flex;
     flex-direction: column !important;
     justify-content: flex-start !important;
     align-items: center;

     padding: 0;
   }

   #containerWrapper
    {
        margin-top: 5%;
        width: 95%;
    }

    #upload-text
    {
        font-size: 18px !important;
    }


    #instruction1
    {

        font-size: 0.9rem;

        line-height: 1.5rem;

    }

    #filepondC
    {
        width: 90%;
    }

    #filepondInstruction
    {
        width: 90%;
    }

    #saveBtn
    {
        font-size: 0.9rem !important;
        width: 90%;
    }

    body
    {
        /* padding: 0.5rem; */

        padding: 0;
    }

    #completionC
    {
        width: 100%;
        height: 400px;

    }

    #uploadError
    {
        width: 90% !important;
        font-size: 0.9rem !important;
    }

    #top-bar
    {
        width: 100%;
        height: 3rem;
        min-height: 2rem;

        padding: 0 2%;
    }

    #codacoMark
    {
        font-size: 1.2rem;
    }


}

/* mobil/tablet telefon na šířku */
@media (min-width: 576px) and (max-width: 767px)
{
    body
    {
        /* background-color: yellow; */

        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center;

        padding: 0;
    }

    #containerWrapper
    {
        margin-top: 5%;
        width: 99%;
    }

    #upload-text
    {
        font-size: 18px !important;
    }


    #instruction1
    {

        font-size: 0.9rem;

        line-height: 1.5rem;

    }

    #filepondC
    {
        width: 70%;
    }

    #filepondInstruction
    {
        width: 70%;
    }

    #saveBtn
    {
        font-size: 0.9rem !important;
    }

    body
    {
        /* padding: 0.5rem; */

        padding: 0;
    }

    #uploadError
    {
        width: 70% !important;
        font-size: 0.9rem !important;
    }

    #top-bar
    {
        width: 100%;
        height: 3rem;
        min-height: 2rem;
        padding: 0 2%;
    }

    #codacoMark
    {
        font-size: 1.2rem;
    }

}

/* tablet*/
@media (min-width: 768px) and (max-width: 991px)
{
    body
    {
        /* background-color: violet; */

        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center;

        padding: 0;
    }

    #containerWrapper
    {
        margin-top: 5%;
        width: 99%;
    }

    #upload-text
    {
        font-size: 20px !important;
    }


    #instruction1
    {
        font-size: 0.9rem;

        line-height: 1.5rem;
    }

    #filepondC
    {
        width: 70%;
    }

    #filepondInstruction
    {
        width: 70%;
    }

    #uploadError
    {
        width: 70% !important;
        font-size: 0.9rem !important;
    }

    #top-bar
    {
        width: 100%;
        height: 3rem;
        min-height: 2rem;

        padding: 0 2%;
    }

    #codacoMark
    {
        font-size: 1.2rem;
    }
}

/* počítačová obrazovka  notebook */
@media (min-width: 992px) and (max-width: 1199px)
{
   body
   {
        /* background-color: orange; */
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center;

        padding: 0;
   }

   #containerWrapper
   {
      margin-top: 5%;
      width: 90%;
   }

    #top-bar
    {
        width: 100%;
        height: 3rem;
        min-height: 2rem;

        padding: 0 2%;

    }

    #codacoMark
    {
       font-size: 1.2rem;
    }
}

/* počítačová obrazovka */
@media (min-width: 1200px) and (max-width: 1400px)
{
   body
   {
     /* background-color: pink; */

     display: flex;
     flex-direction: column !important;
     justify-content: flex-start !important;
     align-items: center;

     padding: 0;
   }

   #containerWrapper
   {
        margin-top: 5%;
        width: 80%;
   }

   #top-bar
   {
        width: 100%;
        height: 3rem;
        min-height: 2rem;

        padding: 0 2%;

    }

    #codacoMark
    {
        font-size: 1.2rem
    }
}

/* počítačová obrazovka */
@media (min-width: 1401px)
{
   body
   {
       /* background-color: red; */
       background-color: rgba(247,247,247,1);

       display: flex;
       flex-direction: column !important;
       justify-content: flex-start !important;
       align-items: center;

       padding: 0;
   }

   #containerWrapper
   {
      margin-top: 5%;
   }

   #top-bar
   {
        width: 100%;
        height: 3rem;
        min-height: 2rem;

        padding: 0 2%;
    }

    #codacoMark
    {
        font-size: 1.2rem;
    }

}
