.filepond--file
{
    position: relative;
    /* background-color: white; */

    color: #008080;
}

.filepond--file-info
{
    position: relative;
    z-index: 12;

    color: rgba(127,127,127,1);
}

.filepond--file-info-main
{
    /* display: flex; */
    align-items: center;
    gap: 8px;

    padding-left: 40px;

    /* background-color: orange; */

    color: #008080;

}

.filepond--file-info-sub
{
    /* margin-left: 40px; /* odsazení pod text (kvůli ikoně) */

    margin-left: 40px;
    font-size: 12px;
    opacity: 0.6;

    /* background-color: yellowgreen; */

    color: rgba(127,127,127,1);
}

.filepond--file,
.filepond--file-info,
.filepond--file-info-main
{
    overflow: visible;
}

.my-file-icon {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    z-index: 1;
}


/* Pokusy 30.3.2026 */


.filepond--item-panel
{
    background-color: white !important;
}

.filepond--item[data-filepond-item-state*="invalid"] .filepond--item-panel
{
    background-color: #d9534f !important;
}

.filepond--item[data-filepond-item-state="processing-complete"] .filepond--item-panel
{
    background-color: rgba(54,151,99,1) !important; /* zelená */
}


/* .filepond--item[data-filepond-item-state="processing-complete"] .filepond--file
{
    color: white !important;
} */


.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-info-main,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-info-sub,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-status-main,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-status-sub,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file
{
    color: white !important;
}

.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-info-sub,
.filepond--item[data-filepond-item-state*="processing-complete"] .filepond--file-status-sub {
    opacity: 1 !important;
}

.filepond--item[data-filepond-item-state*="invalid"] .filepond--file,
.filepond--item[data-filepond-item-state*="error"] .filepond--file,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-info-main,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-info-sub,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-status-main,
.filepond--item[data-filepond-item-state*="invalid"] .filepond--file-status-sub,
.filepond--item[data-filepond-item-state*="error"] .filepond--file-status-main,
.filepond--item[data-filepond-item-state*="error"] .filepond--file-status-sub {
    color: white !important;
}


.filepond--file-action-button {
    cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label
{
    color: #555;
}

/* the background color of the filepond drop area */
.filepond--panel-root
{
    background-color: #eee;
}

/* the border radius of the drop area */
.filepond--panel-root {
    border-radius: 0.5em;
}

/* the background color of the black action buttons */
.filepond--file-action-button
{
    background-color: rgba(0, 0, 0, 0.5);
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus
{
    box-shadow: 0 0 0 0.125em rgba(25,113,181,1);
}


/* bordered drop area */
/* .filepond--panel-root
{
    background-color: transparent;
    border: 2px solid #2c3340;
} */