<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>FilePond + Flask</title>
    <link href="https://unpkg.com/filepond/dist/filepond.min.css" rel="stylesheet">

    <!-- Moje vlastní kreativita -->

    <link href="static/css/style.css" rel="stylesheet">


    <!-- <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" rel="stylesheet"> -->

    <!-- <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.css" rel="stylesheet"> -->

</head>
<body>
    <!-- <h1>Upload na lokální disk přes Flask</h1> -->

    <div id="containerWrapper">

        <div id="containerHeader">

            <!-- <svg id="upload-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path fill="currentcolor" fill-rule="evenodd" d="M9 12a1 1 0 102 0V4.26l3.827 3.48a1 1 0 001.346-1.48l-5.5-5a1 1 0 00-1.346 0l-5.5 5a1 1 0 101.346 1.48L9 4.26V12zm-5.895-.796A1 1 0 001.5 12v3.867a2.018 2.018 0 002.227 2.002c1.424-.147 3.96-.369 6.273-.369 2.386 0 5.248.236 6.795.383a2.013 2.013 0 002.205-2V12a1 1 0 10-2 0v3.884l-13.895-4.68zm0 0L2.5 11l.605.204zm0 0l13.892 4.683a.019.019 0 01-.007.005h-.006c-1.558-.148-4.499-.392-6.984-.392-2.416 0-5.034.23-6.478.38h-.009a.026.026 0 01-.013-.011V12a.998.998 0 00-.394-.796z"/>
            </svg> -->

            <div id="upload-textC">
                <span id="upload-text">Nahrávání souborů</span>
            </div>

        </div>

        <div id="filepondInstruction">

            <p id="instruction1"> Soubory vložte pomocí modrého pole níže. Soubory můžete vložit kliknutím nebo přetažením. </p>
            <!-- <p id="instruction2"> Soubory můžete vložit kliknutím nebo přetažením. </p> -->

        </div>

        <div id="filepondC">
            <input type="file" class="filepond" name="file" multiple style="display: none;">
        </div>

        <div id="uploadError"></div>

        <div id="buttonC">
            <button type="button" class="btn" id="saveBtn">Nahrát soubory</button>
        </div>

    </div>


    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <!-- <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script> -->

    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>

    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>

    <!-- <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.js"></script> -->

    <script src="static/js/upload.js"></script>


    <script>

        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);

        const uploadError = document.getElementById('uploadError');

        const uploadErrorText = document.getElementById('uploadErrorText');

        const pond = FilePond.create(document.querySelector('.filepond'),
        {

            maxFiles: 5,
            labelMaxFilesExceeded: 'Můžeš nahrát maximálně 5 souborů',
            labelMaxFiles: 'Maximální počet souborů je {maxFiles}',
            maxFileSize: '5MB',
            labelMaxFileSizeExceeded: 'Soubor je příliš velký',
            labelMaxFileSize: 'Maximální velikost je {filesize}',

            onwarning: (error) =>
            {
                if (!error) return;

                if (error.code === 0 || String(error.body || '').includes('maximum allowed files'))
                {
                    uploadError.style.display = 'flex';
                    uploadError.textContent = 'Můžeš nahrát maximálně 5 souborů';
                }
            },

            acceptedFileTypes: [
                'image/png',
                'image/jpeg',
                'application/pdf',
                'application/msword',
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                'text/plain'
            ],
            labelFileTypeNotAllowed: 'Nepovolený typ souboru',
            fileValidateTypeLabelExpectedTypes: '',
            server: {
                process: {
                    url: '/upload',
                    onerror: (response) => {
                        console.log('SERVER ERROR:', response);
                        return response;
                    }
                },
                revert: '/revert'
            },
            // labelIdle: 'Přetáhni soubor nebo klikni',

            labelIdle: `
                <div class="my-drop-label">

                    <svg id="upload-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path fill="currentcolor" fill-rule="evenodd" d="M9 12a1 1 0 102 0V4.26l3.827 3.48a1 1 0 001.346-1.48l-5.5-5a1 1 0 00-1.346 0l-5.5 5a1 1 0 101.346 1.48L9 4.26V12zm-5.895-.796A1 1 0 001.5 12v3.867a2.018 2.018 0 002.227 2.002c1.424-.147 3.96-.369 6.273-.369 2.386 0 5.248.236 6.795.383a2.013 2.013 0 002.205-2V12a1 1 0 10-2 0v3.884l-13.895-4.68zm0 0L2.5 11l.605.204zm0 0l13.892 4.683a.019.019 0 01-.007.005h-.006c-1.558-.148-4.499-.392-6.984-.392-2.416 0-5.034.23-6.478.38h-.009a.026.026 0 01-.013-.011V12a.998.998 0 00-.394-.796z"/>
                    </svg>

                    <div id="drop-label-text-container">
                        <span id="drop-label-text">Přetáhni soubor nebo klikni</span>
                    </div>

                </div>
            `,

            instantUpload: false,
            allowMultiple: true,

            beforeAddFile: (item) => {
                const newFile = item.file;

                const isDuplicate = pond.getFiles().some((fileItem) => {
                    if (fileItem.id === item.id) return false;

                    const existingFile = fileItem.file;
                    if (!existingFile || !newFile) return false;

                    return (
                        existingFile.name === newFile.name &&
                        existingFile.size === newFile.size &&
                        existingFile.lastModified === newFile.lastModified
                    );
                });

                if (isDuplicate)
                {
                    uploadError.style.display = 'flex';
                    uploadError.textContent = `Soubor "${newFile.name}" už byl přidán.`;
                    return false;
                }

                return true;
            },

            onaddfile: (error, fileItem) =>
            {
                if (error) return;


                uploadError.textContent = "";
                uploadError.style.display = "none";

                const files = pond.getFiles();

                const totalSize = files.reduce((sum, f) => sum + f.fileSize, 0);

                const maxTotalSize = 10 * 1024 * 1024; // 10 MB (změň dle potřeby)

                if (totalSize > maxTotalSize) {
                    pond.removeFile(fileItem.id);

                    uploadError.style.display = 'flex';
                    uploadError.textContent = "Celková velikost souborů může být max 20 MB";
                } else {
                    uploadError.textContent = "";
                }
            },

        });

        pond.on('addfile', (error, fileItem) =>
        {
            if (error) return;

            setTimeout(() =>
            {
                const rows = document.querySelectorAll('.filepond--file');

                rows.forEach((row) =>
                {
                    const info = row.querySelector('.filepond--file-info-main');
                    if (!info) return;

                    // už má ikonu -> nic nedělej
                    if (info.querySelector('.my-file-icon')) return;

                    const text = (info.textContent || '').toLowerCase().trim();

                    let iconSrc = '/static/icons/file.png';

                    if (text.endsWith('.pdf') || text.includes('.pdf ')) {
                        iconSrc = '/static/icons/pdf.png';
                    } else if (
                        text.endsWith('.png') ||
                        text.endsWith('.jpg') ||
                        text.endsWith('.jpeg') ||
                        text.endsWith('.gif') ||
                        text.endsWith('.webp')
                    ) {
                        iconSrc = '/static/icons/image.png';
                    } else if (
                        text.endsWith('.doc') ||
                        text.endsWith('.docx')
                    ) {
                        iconSrc = '/static/icons/doc.png';
                    } else if (
                        text.endsWith('.xls') ||
                        text.endsWith('.xlsx')
                    ) {
                        iconSrc = '/static/icons/xls.png';
                    }

                    const img = document.createElement('img');
                    img.src = iconSrc;
                    img.className = 'my-file-icon';
                    img.alt = '';

                    info.prepend(img);
                });
            }, 100);

        });


        pond.on('removefile', (error, fileItem) =>
        {
            uploadError.textContent = '';
            uploadError.style.display = 'none';
        });

        </script>


</body>
</html>