<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>FilePond + Flask</title>
    <link href="https://unpkg.com/filepond/dist/filepond.min.css" rel="stylesheet">

    <!-- Moje vlastní kreativita -->

    <link href="static/css/style.css" rel="stylesheet">


    <!-- <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" rel="stylesheet"> -->

    <!-- <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.css" rel="stylesheet"> -->

</head>
<body>
    <!-- <h1>Upload na lokální disk přes Flask</h1> -->

    <div id="containerWrapper">

        <div id="containerHeader">

            <div id="upload-textC">
                <span id="upload-text">Nahrávání souborů</span>
            </div>

        </div>

        <div id="filepondInstruction">

            <p id="instruction1"> Soubory vložte pomocí modrého pole níže. Soubory můžete vložit kliknutím nebo přetažením. </p>

        </div>

        <div id="filepondC">
            <input type="file" class="filepond" name="file" multiple style="display: none;">
        </div>

        <div id="uploadError"></div>

        <div id="buttonC">
            <button type="button" class="btn" id="saveBtn">Nahrát soubory</button>
        </div>

        <div id="coverLayer"></div>

        <div id="completionC">

            <div id="firstRowWrapper">
                <div id="CCcolumn1" >


                    <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                    <svg id="tickIcon"
                        fill="currentcolor"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,1A11,11,0,1,0,23,12,11.013,11.013,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9.011,9.011,0,0,1,12,21ZM17.737,8.824a1,1,0,0,1-.061,1.413l-6,5.5a1,1,0,0,1-1.383-.03l-3-3a1,1,0,0,1,1.415-1.414l2.323,2.323,5.294-4.853A1,1,0,0,1,17.737,8.824Z"/>
                    </svg>


                </div>

                <div id="CCcolumn2" >

                    <div id="c2-row1">

                        Soubory byly úspěšně nahrány!

                        <button id="crossBtn">
                            <svg id="crossIcon" viewBox="0 0 24 24" fill="currentColor" >
                                <path d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z" fill="currentColor"/>
                            </svg>
                        </button>

                    </div>

                    <div id="c2-row2">
                        Vaše soubory byly úspěšně nahrány. Tlačítkem "OK" zavřete toto informační okno.
                    </div>

                    <!-- <div id="c2-row3">
                        <button id="acknoledgeBtn">OK</button>
                    </div> -->

                </div>


            </div>
            <div id="c2-row3">
                <button id="acknoledgeBtn" class="btn">OK</button>
            </div>


        </div>


        <div id="errorC"> </div>

    </div>










    <!-- JS block -->

    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <!-- <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script> -->

    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>

    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>

    <!-- <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.js"></script> -->

    <script src="static/js/upload.js"></script>


    <script>

        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);

        const uploadError = document.getElementById('uploadError');

        const uploadErrorText = document.getElementById('uploadErrorText');

        const pond = FilePond.create(document.querySelector('.filepond'),
        {

            maxFiles: 5,
            labelMaxFilesExceeded: 'Můžeš nahrát maximálně 5 souborů',
            labelMaxFiles: 'Maximální počet souborů je {maxFiles}',
            maxFileSize: '5MB',
            labelMaxFileSizeExceeded: 'Soubor je příliš velký',
            labelMaxFileSize: 'Maximální velikost je {filesize}',

            onwarning: (error) =>
            {
                if (!error) return;

                if (error.code === 0 || String(error.body || '').includes('maximum allowed files'))
                {
                    uploadError.style.display = 'flex';
                    uploadError.textContent = 'Můžeš nahrát maximálně 5 souborů';
                }
            },

            acceptedFileTypes: [
                'image/png',
                'image/jpeg',
                'application/pdf',
                'application/msword',
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                'text/plain'
            ],
            labelFileTypeNotAllowed: 'Nepovolený typ souboru',
            fileValidateTypeLabelExpectedTypes: '',
            server: {
                process: {
                    url: '/upload',
                    onerror: (response) => {
                        console.log('SERVER ERROR:', response);
                        return response;
                    }
                },
                revert: '/revert'
            },
            // labelIdle: 'Přetáhni soubor nebo klikni',

            labelIdle: `
                <div class="my-drop-label">

                    <svg id="upload-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path fill="currentcolor" fill-rule="evenodd" d="M9 12a1 1 0 102 0V4.26l3.827 3.48a1 1 0 001.346-1.48l-5.5-5a1 1 0 00-1.346 0l-5.5 5a1 1 0 101.346 1.48L9 4.26V12zm-5.895-.796A1 1 0 001.5 12v3.867a2.018 2.018 0 002.227 2.002c1.424-.147 3.96-.369 6.273-.369 2.386 0 5.248.236 6.795.383a2.013 2.013 0 002.205-2V12a1 1 0 10-2 0v3.884l-13.895-4.68zm0 0L2.5 11l.605.204zm0 0l13.892 4.683a.019.019 0 01-.007.005h-.006c-1.558-.148-4.499-.392-6.984-.392-2.416 0-5.034.23-6.478.38h-.009a.026.026 0 01-.013-.011V12a.998.998 0 00-.394-.796z"/>
                    </svg>

                    <div id="drop-label-text-container">
                        <span id="drop-label-text">Přetáhni soubor nebo klikni</span>
                    </div>

                </div>
            `,

            instantUpload: false,
            allowMultiple: true,

            beforeAddFile: (item) => {
                const newFile = item.file;

                const isDuplicate = pond.getFiles().some((fileItem) => {
                    if (fileItem.id === item.id) return false;

                    const existingFile = fileItem.file;
                    if (!existingFile || !newFile) return false;

                    return (
                        existingFile.name === newFile.name &&
                        existingFile.size === newFile.size &&
                        existingFile.lastModified === newFile.lastModified
                    );
                });

                if (isDuplicate)
                {
                    uploadError.style.display = 'flex';
                    uploadError.textContent = `Soubor "${newFile.name}" už byl přidán.`;
                    return false;
                }

                return true;
            },

            onaddfile: (error, fileItem) =>
            {
                if (error) return;


                uploadError.textContent = "";
                uploadError.style.display = "none";

                const files = pond.getFiles();

                const totalSize = files.reduce((sum, f) => sum + f.fileSize, 0);

                const maxTotalSize = 10 * 1024 * 1024; // 10 MB (změň dle potřeby)

                if (totalSize > maxTotalSize) {
                    pond.removeFile(fileItem.id);

                    uploadError.style.display = 'flex';
                    uploadError.textContent = "Celková velikost souborů může být max 20 MB";
                } else {
                    uploadError.textContent = "";
                }
            },

        });

        pond.on('addfile', (error, fileItem) =>
        {
            if (error) return;

            setTimeout(() =>
            {
                const rows = document.querySelectorAll('.filepond--file');

                rows.forEach((row) =>
                {
                    const info = row.querySelector('.filepond--file-info-main');
                    if (!info) return;

                    // už má ikonu -> nic nedělej
                    if (info.querySelector('.my-file-icon')) return;

                    const text = (info.textContent || '').toLowerCase().trim();

                    let iconSrc = '/static/icons/file.png';

                    if (text.endsWith('.pdf') || text.includes('.pdf ')) {
                        iconSrc = '/static/icons/pdf.png';
                    } else if (
                        text.endsWith('.png') ||
                        text.endsWith('.jpg') ||
                        text.endsWith('.jpeg') ||
                        text.endsWith('.gif') ||
                        text.endsWith('.webp')
                    ) {
                        iconSrc = '/static/icons/image.png';
                    } else if (
                        text.endsWith('.doc') ||
                        text.endsWith('.docx')
                    ) {
                        iconSrc = '/static/icons/doc.png';
                    } else if (
                        text.endsWith('.xls') ||
                        text.endsWith('.xlsx')
                    ) {
                        iconSrc = '/static/icons/xls.png';
                    }

                    const img = document.createElement('img');
                    img.src = iconSrc;
                    img.className = 'my-file-icon';
                    img.alt = '';

                    info.prepend(img);
                });
            }, 100);

        });


        pond.on('removefile', (error, fileItem) =>
        {
            uploadError.textContent = '';
            uploadError.style.display = 'none';
        });

        </script>


</body>
</html>