<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>FilePond + Flask</title>
    <link href="https://unpkg.com/filepond/dist/filepond.min.css" rel="stylesheet">

    <!-- Moje vlastní kreativita -->

    <link href="static/css/style.css" rel="stylesheet">


    <!-- <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" rel="stylesheet"> -->

    <!-- <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.css" rel="stylesheet"> -->

</head>
<body>
    <h1>Upload na lokální disk přes Flask</h1>

    <input type="file" class="filepond" name="file" multiple>
    <div id="uploadError" style="color:red; margin:10px 0;"></div>
    <button type="button" id="saveBtn">Uložit</button>

    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <!-- <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script> -->

    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>

    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>

    <!-- <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.min.js"></script> -->

    <script>

        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);

        const uploadError = document.getElementById('uploadError');

        const pond = FilePond.create(document.querySelector('.filepond'), {
            maxFileSize: '5MB',
            labelMaxFileSizeExceeded: 'Soubor je příliš velký',
            labelMaxFileSize: 'Maximální velikost je {filesize}',
            acceptedFileTypes: [
                'image/png',
                'image/jpeg',
                'application/pdf',
                'application/msword',
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                'text/plain'
            ],
            labelFileTypeNotAllowed: 'Nepovolený typ souboru',
            server: {
                process: {
                    url: '/upload',
                    onerror: (response) => {
                        console.log('SERVER ERROR:', response);
                        return response;
                    }
                },
                revert: '/revert'
            },
            labelIdle: 'Přetáhni soubor nebo klikni',
            instantUpload: false,
            allowMultiple: true,

            beforeAddFile: (item) => {
                const newFile = item.file;

                const isDuplicate = pond.getFiles().some((fileItem) => {
                    if (fileItem.id === item.id) return false;

                    const existingFile = fileItem.file;
                    if (!existingFile || !newFile) return false;

                    return (
                        existingFile.name === newFile.name &&
                        existingFile.size === newFile.size &&
                        existingFile.lastModified === newFile.lastModified
                    );
                });

                if (isDuplicate) {
                    uploadError.textContent = `Soubor "${newFile.name}" už byl přidán.`;
                    return false;
                }

                return true;
            }
        });

        pond.on('addfile', (error, fileItem) => {
            if (error) return;

            setTimeout(() => {

                const type = fileItem.file?.type || '';
                const name = (fileItem.file?.name || '').toLowerCase();

                let iconSrc = '/static/icons/file.png';

                if (type === 'application/pdf' || name.endsWith('.pdf')) {
                    iconSrc = '/static/icons/pdf.png';
                } else if (type.startsWith('image/')) {
                    iconSrc = '/static/icons/image.png';
                } else if (type.includes('word') || name.endsWith('.doc') || name.endsWith('.docx')) {
                    iconSrc = '/static/icons/doc.png';
                } else if (type.includes('sheet') || name.endsWith('.xls') || name.endsWith('.xlsx')) {
                    iconSrc = '/static/icons/xls.png';
                }

                const items = document.querySelectorAll('.filepond--file');

                // místo posledního vem první
                const row = items[0];
                if (!row) return;

                const info = row.querySelector('.filepond--file-info-main');
                if (!info) return;

                if (row.querySelector('.my-file-icon')) return;

                const img = document.createElement('img');
                img.src = iconSrc;
                img.className = 'my-file-icon';
                // img.style.width = '18px';
                // img.style.height = '18px';

                // img.style.width = '32px';
                // img.style.height = '32px';


                // img.style.marginRight = '8px';
                // img.style.verticalAlign = 'middle';

                info.prepend(img);

            }, 50);
        });

        document.getElementById('saveBtn').addEventListener('click', async () => {

            if (pond.getFiles().length === 0) {
                alert('Nejsou vybrány žádné soubory');
                return;
            }

            try
            {
                await pond.processFiles(); // ⬅️ počká na dokončení uploadu

                setTimeout(() => {
                    pond.removeFiles(); // vyčistí seznam
                    alert('Soubory byly nahrány');
                }, 1000);

            } catch (err) {

                setTimeout(() => {

                    console.error(err);
                    alert('Upload se nepodařil ' + err.error.body);

                }, 1000);
            }
        });

    </script>




</body>
</html>